*{
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    padding: 30px;
}
.heading{
    color:whitesmoke;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

#piechart{
    height: 400px;
}

.nav{
    background-color: rgb(119, 118, 118);
    border-radius: 25px;
   
}

.nav li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    font-weight: bold;
    color: white;
   
   
}
 
.nav li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    
}

.nav ul{
    overflow: auto;
    
}

.nav li a:hover{
    color: black;
}