<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form page</title>
    
    <link rel="stylesheet" type="text/css"  href="/static/login_style.css">
</head>
<body> 
    <div class></div>
    <div class="form"></div>
    <form action="login_page" method="post">

        <h1><u>Sign In</u></h1>
        
        <div class="trial"> 
          <label for="email" class="email">Email Id :</label>
          <input type="text" id="email" name="email" style="font-size:15pt">
        </div><br>
        
        <div class="trial"> 
        <label for="password" class="password">Password:</label>
        <input type="password" id="password" style="font-size:15pt" name="password" >
        </div><br>


        <button id="login">Log In</button><br>
    <div class="lowbtn">
        <button id="newaccount"><a href="signup_page">CREATE NEW ACCOUNT</a></button>
        <button id="forgotpassword">FORGOT PASSWORD</button>
    </div>

        
      </form>
    </div>
</body>
</html>