<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/team.css">
    <link rel="favicon" href="favicon.ico">
    
    <title>TEAM</title>
</head>

<body>

    <!-- NAVIGATION BAR -->

    <div class="heading">
        <h1>CLIENT DATABASE</h1>
    </div>

        <header>
            <div>
                <nav class="nav">
                    <ul>
                        <li><a href="../index.html">HOME</a></li>
                        <li><a href="">TEAM</a></li>
                        <li><a href="./contact.html">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <BR>


        <!-- Hyperlinks for diffrent TEAMS SECTION  -->

        <div class="hyperlink">
            <a href="http://127.0.0.1:5500/TEAM.html#TEAM_A">
            <h3>1.TEAM A</h3>
            </a>

            <a href="http://127.0.0.1:5500/TEAM.html#TEAM_B">
                <H3>2.TEAM B</H3>
            </a>

            <a href="http://127.0.0.1:5500/TEAM.html#TEAM_C">
                <H3>3.TEAM C</H3>
            </a>
 
        </div>
  
        <div class="page1">

            <!-- 1. TEAM A -->

            <h2 id="TEAM_A">1. TEAM A</h2>

            <!-- 1st profile  -->

            <div class="container" id="profile_1">


                <div class="profile">
                    <div class="qwe"><img src="images/avatar1.jpeg" width="100"> 
                        <span id="details"> Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
                        </div>
                    <h4>ABC</h4>
                    <p>xyz@gmail.com</p>
                    <a href=" " class="fa fa-linkedin"></a>
                    <a href=" " class="fa fa-instagram"></a>
                    <a href=" " class="fa fa-github"></a>
                    
                     
                </div>
  
            </div>
 

            <!-- 2nd profile  -->

            <div class="container" id="profile_2">


                <div class="profile">
                    <img src="/images/avatar2.jpeg" width="100">
                    <h4>ABC</h4>
                    <p>xyz@gmail.com</p>
                    <a href=" " class="fa fa-linkedin"></a>
                    <a href=" " class="fa fa-instagram"></a>
                    <a href=" " class="fa fa-github"></a>
                </div>

                <div class="details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                         when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
 

            </div>


            <!-- 3rd profile  -->

            <div class="container" id="profile_2">


                <div class="profile">
                    <img src="/images/avatar3.jpeg" width="100">
                    <h4>ABC</h4>
                    <p>xyz@gmail.com</p>
                    <a href=" " class="fa fa-linkedin"></a>
                    <a href=" " class="fa fa-instagram"></a>
                    <a href=" " class="fa fa-github"></a>
                </div>

                <div class="details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                         when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>

 
            </div>


            <!-- 4th profile  -->

            <div class="container" id="profile_2">


                <div class="profile">
                    <img src="/images/avatar4.jpeg" width="100">
                    <h4>ABC</h4>
                    <p>xyz@gmail.com</p>
                    <a href=" " class="fa fa-linkedin"></a>
                    <a href=" " class="fa fa-instagram"></a>
                    <a href=" " class="fa fa-github"></a>
                </div>

                <div class="details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                         when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>

 
            </div>


 

        </div>

        <div class="page2">

            <div class="search">
                <form class="form">
                    <label> name</label>
                    <input type="text">
                    <label> email</label>
                    <input type="email">
                    <br>
                    <input type="submit">
                </form>
            </div>

            <h3>RECENT HIRES</h3>


            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
            <div class="smallcontainer">
                <img src="/images/avatar.jpeg" width="50">
                <h4>ABC</h4> 
            </div>
             

        </div>


        


 
 


 